[user]
    name = Anthony Whyte
    email = anthwhyte@gmail.com
    signingkey = 2349082889F677CA
[commit]
    gpgsign = true
[gpg]
    program = /opt/homebrew/bin/gpg
[pull]
    rebase = false
    ff = true
